*{
    padding: 0;
    margin: 0;
}
body    {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: rgb(247, 235, 128);
}

a   {
    text-decoration: none;
}

header  {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 7rem 10rem;
}


nav {
    grid-column: 4/span 6;
}
.menu {
    display: flex ;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    padding-left: 1rem;
}
.menu li{
    align-self: flex-end;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.menu li a:hover{
    color: brown;
}
.title{
    grid-column: 3/12;
    grid-row: 2/3;
    justify-self: center;
    padding-top: 1.2rem;

}
.title h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    justify-self: center;

}
.title h2 {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}
.banner{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,auto);
    padding-top: 3rem;
    }
.imgbanner img{
    width: 100%;
   }

    .imgbanner{
    grid-row: 1/5;
    grid-column: 3/8;
}
.infobanner{
    grid-column: 8/11;
    grid-row: 1/5;
    background-color: rgb(243, 194, 70);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.infosub{
    font-size: 1.5rem;


}
.infosub h2{
    padding-left: 10%;
    line-height: 0.9;
    
}
.listabanner{
    position: relative;
    left: 10%;
    max-width: 70%;
  }

.btncont{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}

.btninfo{
    width: 7rem;
    height: 2rem;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mapa{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    }
.mapabox{
   width: 38rem;
    height: 20rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(247, 162, 59);
   
    
}
.footer{
    display: flex;
    align-content: center;
    justify-content: center;
    
}

@media only screen and (max-width: 600px){
    .infosub h2{font-size: 1rem;
     
    }
}
    